@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');

*{
    overflow: hidden;
    font-family: 'Kenia', cursive;
}
header {
   text-align: center;
   font-weight: bold;
   font-variant: Arial;
   color: rgb(110, 170, 223);
   font-size: 33px;
   animation:ani 1s infinite alternate ;
}
@keyframes ani {
    from{
        transform: translateX(33px);
    }
    to {
        transform: translateX(0px);
    }
    
}

header h2 {
    color: #6c25be;
    margin: 0%;
    font-size: 75px;  
}

body{
background: #134b5f;
}
.objetos {
    background: #6c25be;
    margin:0 auto ;
    display: flex;
    align-items: center;
    width: 55%;
    border:solid 1px rgb(57, 56, 145);
    height: 90px;
    justify-content: center;
    border-radius: 3cm;
    
}
.objetosdois {
    background: #96be25;
    align-items: center;
    margin:0 auto ;
    width: 55%;
    justify-content: center;
    display: flex;
    border:solid 1px #49be25;
    height: 90px;
    border-radius: 3cm;
}

.obj1, .obj2, .obj3, .obj4, .obj5, .obj6 {
    width: 30px;
    height: 30px ;
    background-color:#2596be;
    margin: 2%;
    border-radius: 2cm; 
}
.objeto1, .objeto2 , .objeto3 , .objeto4 , .objeto5 , .objeto6{
    width: 30px;
    height: 30px ;
    background-color:#2596be;
    margin: 2%;
    border-radius: 2cm;
}



button {
justify-content: flex-end;
background: #49be25;
margin: 0 auto;
margin-top:11%;
display: flex;
border: none;
padding: 10px;
border-radius: 2cm;
cursor: pointer;
color: #0e0404;


}

.points1, .points2 {
color: red;
font-size: 33px; 

}
